@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Deletar pedido";
}

@model OrderModel

<h2>Confirmar Exclusão</h2>

<p>Você tem certeza de que deseja excluir o pedido "@Model.ID"?</p>

<form asp-action="Delete" method="post">
    <input type="hIDden" asp-for="ID" />
    <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>