@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center h-100 d-flex flex-column justify-content-center align-items-center">
    <img src="~/images/thumbnail.png" alt="" class="w-75"/>
    <h1 class="display-5 mt-4">Boas-vindas ao AutoChef!</h1>
    <p class="opacity-75">Navegue pela aplicação utilizando o menu lateral</p>
</div>
